$mainFont: 'Montserrat', sans-serif;
$mainFontcolor: white;
$mainBackgroundColor: #0D842A;

/* styling the overall body of the webpage */
body {
  font-family: $mainFont;
  background-image: url("bg-01.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: $mainFontcolor;
}

/*styling the navbar  */
.navbar {
    overflow: hidden;
    background-color: $mainBackgroundColor;
    font-family: $mainFont;
    padding: 25px;
}

/*styling the navbar links*/
.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/*styling the dropdown  */
.dropdown {
    float: left;
    overflow: hidden;
}

/*styling the dropdown button*/
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

/*styling the links*/
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: black;
}

/*styling the content*/
.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: $mainBackgroundColor;
}

.dropdown:hover .dropdown-content {
    display: block;
}
/*styling the main heading*/
h1 {
  font-size: 50px;
  text-align: center;
}

/*styling the category headings*/
h2 {
  font-size: 25px;
}

/*designing my webpage with grids*/
.grid_gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

/*responsive design*/
@media only screen and (max-width: 600px){
body  {
  font-family: $mainFont;
  background-image: url("bg-01.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: $mainFontcolor;
  width: 100%;
  }

  .grid_gallery{
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr 1fr;
  }
}
