// declaring that my webpage will be in grids//
#container {
  display: grid;
  grid-template-columns:repeat(6,1fr);
  grid-template-rows: 100px 100px 1000px 2000px 100px;
  grid-template-areas:
  "header header header header header header"
  "nav nav nav nav nav nav"
  "aside article article article article article"
  "section section section section section section"
  "footer footer footer footer footer footer";
   grid-gap:10px;
   font-family: 'Montserrat', sans-serif;
}

body {
  background:url("hero__image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
}
// styling my aside bar//
.jumplinks{
  grid-area: aside;
  background-color: #0D842A	;
  color: white;
}

//styling my main heading with a background image//
header {
  grid-area: header;
  background-color: #0D842A;
  background-size: cover;
  background-position: center;
}

//centering my main heading and font color//
h1 {
  text-align: center;
  color: white;
}

// adding background color to my nav, font-size and using nesting//
nav {
  grid-area: nav;
  background-color: #0D842A;
  font-size: 20px;
  li {
    float: left;
    padding: 20px;
    margin-left: 270px;
  }
}
//removing the bullets to my nav//
.mainNav_li {
  list-style-type: none;
}

//styling my anchor tags//
a {
  text-decoration: none;
}

a:hover {
  font-style: italic;
}

a:visited {
  color: white;
}

a:link {
  color: white;
}

article {
  grid-area: article;
  grid-column: 2/7;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

section {
  grid-area: section;
}
// styling article section//


.camping1 {
  border: 3px solid white;
  width: 35%;
  background-color: #0D842A;
}

.hiking1 {
  border: 3px solid white;
  width: 60%;
  background-color: #0D842A;
  float: right;
}

.fishing1 {
  border: 3px solid white;
  width: 60%;
  background-color: #0D842A;
  float: left;
}

.rc {
  border: 3px solid white;
  width: 60%;
  background-color: #0D842A;
  float: right;

}
h3{
  text-decoration: underline;
}
footer {
  grid-area: footer;
  height: 500px;
}
