body {
  display: grid;
  grid-template-rows: repeat (12, 1fr);
  grid-template-columns: repeat (6, 1fr);
  grid-gap: 10px;
  border: 2px solid blue;
}

.box {
   color: white;
   font-size: 2vh;
   padding: 10px;
   background: gold;
   margin: 0;
   text-align: center;
   }
